<h1 align="center">
  Quel est le type de votre incident ?
</h1>

<div class="container">
  <div class="row">

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="réparation">
      <img src="../../assets/images/logoReparation.png" alt="répartion" width="120">
      <p>Réparation</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="ménage">
      <img src="../../assets/images/logoMenage.png" alt="ménage" width="120">
      <p>Ménage</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="AppelManque">
      <img src="../../assets/images/logoAppelManque.jpg" alt="logoAppelManque" width="120">
      <p>Appel manqué</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="Cles">
      <img src="../../assets/images/logoCles.png" alt="logoCle" width="120">
      <p>Clés oubliées</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="Poubelle">
      <img src="../../assets/images/logoPoubelle.png" alt="logoPoubelle" width="120">
      <p>Poubelle</p>
    </button>

    <div class="w-100"></div>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="Course">
      <img src="../../assets/images/logoCourse.png" alt="course" width="120">
      <p>Course</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="Enfant">
      <img src="../../assets/images/logoEnfant.png" alt="enfant" width="120">
      <p>Enfant</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="Machine">
      <img src="../../assets/images/logoMachine.jpg" alt="logoMachine" width="120">
      <p>Machine</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="Jardin">
      <img src="../../assets/images/logoJardinage.png" alt="logoJardinage" width="120">
      <p>Jardin</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration" data-toggle="tooltip" data-placement="right" title="Autre">
      <img src="../../assets/images/logoAutre.png" alt="logoAutre" width="120">
      <p>Autre</p>
    </button>
  </div>
</div>