<h1 align="center">
  Quel est le type de votre incident ?
</h1>

<div class="container">
  <div class="row">

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="réparation">
      <img src="../../assets/images/logoReparation.png" alt="répartion" width="120">
      <p>Réparation</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="ménage">
      <img src="../../assets/images/logoReparation.png" alt="ménage" width="120">
      <p>Ménage</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="AppelManque">
      <img src="../../assets/images/logoReparation.png" alt="logoAppelManque" width="120">
      <p>Appel manqué</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Cles">
      <img src="../../assets/images/logoReparation.png" alt="logoCle" width="120">
      <p>Clés oubliées</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Poubelle">
      <img src="../../assets/images/logoReparation.png" alt="logoPoubelle" width="120">
      <p>Poubelle</p>
    </button>

    <div class="w-100"></div>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="réparation">
      <img src="../../assets/images/logoReparation.png" alt="répartion" width="120">
      <p>Réparation</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="ménage">
      <img src="../../assets/images/logoReparation.png" alt="ménage" width="120">
      <p>Ménage</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="AppelManque">
      <img src="../../assets/images/logoReparation.png" alt="logoAppelManque" width="120">
      <p>Appel manqué</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Cles">
      <img src="../../assets/images/logoReparation.png" alt="logoCle" width="120">
      <p>Clés oubliées</p>
    </button>

    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Poubelle">
      <img src="../../assets/images/logoReparation.png" alt="logoPoubelle" width="120">
      <p>Poubelle</p>
    </button>
  </div>
</div>