<h1 align="center">
  Quel est le type de votre incident ?
</h1>

<div class="container">
  <div class="row">

    <button type="button" class="btn btn-light" routerLink="/declaration/Reparation" data-toggle="tooltip" data-placement="right" title="réparation">
      <img src="../../assets/images/logoReparation.png" alt="répartion" width="120">
      <p>Réparation</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/Menage" data-toggle="tooltip" data-placement="right" title="Ménage">
      <img src="../../assets/images/logoMenage.png" alt="Ménage" width="120">
      <p>Ménage</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/AppelManque" data-toggle="tooltip" data-placement="right" title="Appel Manque">
      <img src="../../assets/images/logoAppelManque.jpg" alt="Appel Manque" width="120">
      <p>Appel manqué</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/ClesOubliees" data-toggle="tooltip" data-placement="right" title="Clés oubliées">
      <img src="../../assets/images/logoCles.png" alt="Clés oubliées" width="120">
      <p>Clés oubliées</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/Poubelle" data-toggle="tooltip" data-placement="right" title="Poubelle">
      <img src="../../assets/images/logoPoubelle.png" alt="Poubelle" width="120">
      <p>Poubelle</p>
    </button>

    <div class="w-100"></div>

    <button type="button" class="btn btn-light" routerLink="/declaration/Course" data-toggle="tooltip" data-placement="right" title="Course">
      <img src="../../assets/images/logoCourse.png" alt="Course" width="120">
      <p>Course</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/Enfant" data-toggle="tooltip" data-placement="right" title="Enfant">
      <img src="../../assets/images/logoEnfant.png" alt="Enfant" width="120">
      <p>Enfant</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/Machine" data-toggle="tooltip" data-placement="right" title="Machine">
      <img src="../../assets/images/logoMachine.jpg" alt="Machine" width="120">
      <p>Machine</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/Jardin" data-toggle="tooltip" data-placement="right" title="Jardin">
      <img src="../../assets/images/logoJardinage.png" alt="Jardin" width="120">
      <p>Jardin</p>
    </button>

    <button type="button" class="btn btn-light" routerLink="/declaration/Autre" data-toggle="tooltip" data-placement="right" title="Autre">
      <img src="../../assets/images/logoAutre.png" alt="Autre" width="120">
      <p>Autre</p>
    </button>
  </div>
</div>