<div class="container">

    <div class="row">
        <div class="col-lg">
            <button class="btn btn-primary" routerLink="/declaration">Déclarer un incident</button>
        </div>
    </div>


    <div class="row">
        <div class="col-lg">
            <h4>Vue des incidents</h4>
            <div *ngIf="incidentList.length > 0">
                <div class="col-lg-12" *ngFor="let incident of incidentList">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <h5 *ngIf="incident.urgence == 1" class="card-header">Faible - {{incident.titre}}</h5>
                                <h5 *ngIf="incident.urgence == 2" class=" bg-warning card-header">Moyen - {{incident.titre}}</h5>
                                <h5 *ngIf="incident.urgence >= 3" class=" bg-danger card-header">Critique - {{incident.titre}}</h5>

                                <div class="card-body">
                                    <header class="card-title font-weight-bold">Par {{incident.prenom}} {{incident.nom}}</header>
                                    <button data-toggle="tooltip" title="Modifier" data-placement="bottom" class="btn btn-outline-secondary float-right"><span class="oi oi-cog"></span></button>
                                    <!--<p class="card-text">Etat: {{incident.etat}}</p>-->

                                    <p>Destiné à <span *ngFor="let alloc of allocations">
                                        <span *ngIf="alloc.idincident == incident.idincident">{{alloc.nom}} {{alloc.prenom}}</span>
                                    </span></p>

                                    <p class="card-text">{{incident.description}}</p>
                                    <p class="card-text">Localisation: {{incident.localisation}}</p>
                                    <button (click)="showModalDelete(incident.idincident)" data-toggle="tooltip" title="Supprimer" data-placement="bottom" class="btn btn-outline-danger float-right"><span class="oi oi-trash"></span></button>
                                    <footer>Date: {{incident.date | date}} à {{incident.heure}}</footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>



    <div id="modalConfirm" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression d'incident</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez vous vraiment supprimer cet incident?</p>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" id="confirmDelete" data-idincident="" type="button" (click)="deleteIncident()" class="btn btn-danger">Supprimer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>





</div>
