<div class="container">

    <div class="row">
        <div class="col-lg">
            <button class="btn btn-primary" routerLink="/declaration">Déclarer un incident</button>
        </div>
    </div>


    <!--0: {…}-->
    <!--date: "2010-10-09T22:00:00.000Z"-->
    <!--description: "il y a un incendie chez moi"-->
    <!--duree: null-->
    <!--etat: "Accepte"-->
    <!--heure: null-->
    <!--idauteur: "1"-->
    <!--idincident: 1-->
    <!--localisation: "Salle 150"-->
    <!--titre: "feu"-->
    <!--type: null-->
    <!--urgence: 0-->

    <div class="row">
        <div class="col-lg">
            <h4>Vue des incidents</h4>
            <div *ngIf="incidentList.length > 0">
                <div class="col-lg-12" *ngFor="let incident of incidentList">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <h5 *ngIf="incident.urgence == 0" class="card-header">{{incident.titre}}</h5>
                                <h5 *ngIf="incident.urgence == 1" class=" bg-warning card-header">{{incident.titre}}</h5>
                                <h5 *ngIf="incident.urgence > 2" class=" bg-danger card-header">{{incident.titre}}</h5>

                                <div class="card-body">
                                    <header class="card-title">Auteur:{{incident.auteur}}</header>
                                    <p class="card-text">{{incident.description}}</p>
                                    <p class="card-text">Localisation: {{incident.localisation}}</p>
                                    <button (click)="deleteIncident(incident.idincident)" data-toggle="tooltip" title="Supprimer" data-placement="bottom" class="btn float-right"><span class="oi oi-trash"></span></button>
                                    <footer>Date: {{incident.date | date}}</footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>
