<div class="container" xmlns:date="http://www.w3.org/1999/xhtml">
	<div class="col-lg">

		<div class="mainTitle row">
			<h1>Déclaration d'incidents</h1>
		</div>

		<div class="row">
			<div class="col-lg">
				<form id="formulaire">

					<div class="row">
						<div class="col-lg-5">
							<div class="form-group">
								<label for="category_selector">Catégorie
									<span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="Catégorie de l'incident"></span>
								</label>
								<select #categorie id="category_selector" name="category_selector" class="form-control">
									<option value="Réparation">Réparation</option>
									<option value="Ménage">Ménage</option>
									<option value="Appel Manque">Appel Manque</option>
									<option value="Clés oubliées">Clés oubliées</option>
									<option value="Poubelle">Poubelle</option>
									<option value="Course">Course</option>
									<option value="Enfant">Enfant</option>
									<option value="Machine">Machine</option>
									<option value="Jardin">Jardin</option>
									<option value="Autre">Autre</option>
								</select>
							</div>
						</div>

						<div class="offset-lg-2 col-lg-5">
							<div class="form-group">
								<label>Destinataires
									<span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="Personnes qui devront résoudre l'incident"></span>
								</label>
								<!--
								<select #destinataire id="destinataire" name="destinataire" class="form-control">
									<option value="pere">Père</option>
									<option value="mere">Mère</option>
									<option value="fils">Fils</option>
								</select>
								-->
								<div class="dropdown">
									<button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Destinataires
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

										<div *ngFor="let user of userList" class="form-check destinataireDiv">
											<input (change)="onChange(user.idpersonne, $event.target.checked)" class="form-check-input" type="checkbox" value="" name="destinataire" #destinataire>
											<label class="form-check-label">
												{{user.nom}} {{user.prenom}}
											</label>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-lg-5">
							<div class="form-group">
								<label class="form_label" for="date_selector">Date de l'incident
									<span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="Date à laquelle est survenu l'incident"></span>
								</label>
								<input value="{{Date.now() | date: 'dd/MM/yyyy'}}" #date class="form-control" type="date" id="date_selector" placeholder="JJ/MM/YYY"
									   name="dateSelector">
							</div>
						</div>

						<div class="offset-lg-2 col-lg-5">
							<div class="form-group">
								<label class="form_label" for="time_selector">Heure de l'incident
									<span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="Heure à laquelle est survenu l'incident"></span>
								</label>
								<input #heure class="form-control" type="time" id="time_selector" name="timeSelector">
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-5">
							<div class="form-group">
								<label for="importance_selector">Importance
									<span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="Importance de l'incident"></span>
								</label>
								<select #importance id="importance_selector" name="importance_selector"
										class="form-control">
									<option value=1>Faible</option>
									<option value=2>Moyen</option>
									<option value=3>Critique</option>
								</select>
							</div>
						</div>

						<div class="offset-lg-2 col-lg-5">
							<div class="form-group">
								<label for="localisation_selector">Localisation
									  <span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="Lieu de l'incident"></span>
								</label>
								<select #localisation id="localisation_selector" name="localisation_selector"
										class="form-control">
									<option value="Chambre des Parents">Chambre des Parents</option>
									<option value="Chambre enfant">Chambre enfant</option>
									<option value="Chambre">Chambre</option>
									<option value="Salon">Salon</option>
									<option value="Entrée">Entrée</option>
									<option value="Garage">Garage</option>
									<option value="Toillette">Toillette</option>
									<option value="Salle de bain">Salle de bain</option>
									<option value="Jardin">Jardin</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="form_label" for="titre_incident">Titre incident
							<span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="(Obligatoire) Donnez un titre à votre incident"></span>
						</label>
						<input #titre class="form-control" type="text" id="titre_incident" name="titleIncident">
					</div>

					<div class="form-group">
						<label class="form_label" for="description_incident">Description incident
							<span class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" data-content="(Obligatoire) Décrivez l'incident"></span>
						</label>
						<textarea #description class="form-control" id="description_incident" type="text"
								  name="descriptionIncident"></textarea>
					</div>

					<button data-toggle="modal" data-target="#modalDeclaration"
							(click)="addIncident(titre.value, description.value, categorie.value, date.value, heure.value, importance.value, localisation.value);"
							class="btn btn-primary">Envoyer
					</button>

				</form>
			</div>
		</div>


	</div>
</div>

<div id="modalDeclaration" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Incident déclaré</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Votre incident a bien été déclaré</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="clearForm()">Déclarer un autre incident
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/incidents">Retourner à
					la liste d'incidents
				</button>
			</div>
		</div>
	</div>
</div>


<div id="modalError" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-danger">
				<h5 class="modal-title">Erreur d'envoi</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="errorMessage">Erreur lors de la déclaration de l'incident</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger">Réessayer
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/incidents">Retourner à
					la liste d'incidents
				</button>
			</div>
		</div>
	</div>
</div>